<section ng-controller="sendMessageCtrl">

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <form class="login100-form validate-form" ng-submit="envoie()">
                    <span class="login100-form-title p-b-49">
                                    Envoyez votre message
                    </span>
                    <div class="wrap-input100 validate-input m-b-23">
                        <input class="input100" type="text" name="message" placeholder="Votre message" ng-model="city">
                    </div>

                    <div id="multimedia">
                        <div>
                            <button ng-click="ouvrirMenuAppareilPhoto()"><i class="material-icons">add_a_photo</i></button>
                        </div>

                        <div>
                            <button ng-click="ouvrirMenuGallerie()"><i class="material-icons">add_photo_alternate</i></button>
                        </div>

                        <div>
                            <button ng-click="ouvrirMenuEnregistrementSon()"><i class="material-icons">audiotrack</i></button>
                        </div>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <input type="submit" class="login100-form-btn" value="Jodler">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>




