.container{
    width : 100%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    padding-top:10px;
}

img{
    max-width:100%;
    border-radius: 50%;
}

.chat-page{
}

.msg-inbox{
    overflow: hidden;
}

.chats{
}
.msg-page {
    height: 516px;
    overflow-y: auto;
}

.received-chats-img{
    display: inline-block;
    width:20px;
    float:left;
}

.received-msg{
    display: inline-block;
    vertical-align: top;
    width: 92%;
}

.received-msg-inbox{
    width: 57%;
}
.received-msg-inbox p{
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size:14px;
    margin:0;
    padding:5px 10px 5px 12px;
    width:100%;
}

.time{
    color: #777;
    display :block;
    font-size:12px;
    margin: 8px 0 0;
}

.name{
    color: #777;
    display :block;
    font-size:12px;
    margin: 8px 0 0;
}

.outgoing-chats{
    overflow: hidden;
}

.outgoing-chats-msg p{
    background: linear-gradient(rgb(255, 143, 178) 0%, rgb(167, 151, 255) 50%, rgb(0, 229, 255) 100%);
    color: #fff;
    border-radius:10px;
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width:100%
}
.outgoing-chats-msg{
    float: left;
    with:46%;
    margin-left: 45%;
}

.outgoing-chats-img{
    display: inline-block;
    width: 20px;
    float: right;
}
